<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peticija detaljno</title>
</head>
<body>
<h2 align="center" style="background-color:#0e0753;" ><font color="white">{{peticij.naziv}}</font></h2>
<br>
<br>

<p align="center" style="font-family:verdana;"><font color=#0e0753> {{peticij.text_peticije}}</font></p>

<br>
<br>
<p align="left" style="font-family:verdana;"><font color=#0e0753>Broj sakupljenih potpisa:{{peticij.broj_potpisa}}</font></p>
<p style="font-family:verdana; color:#0e0753">Datum pocetka prikupljanja potpisa:{{peticij.datum_pocetka}}</p>
<p style="font-family:verdana; color:#0e0753">Datum zavrsetka prikupljanja potpisa:{{peticij.datum_zavrsetka}}</p><br>

<h3 align="center" style="background-color:#0e0753;" ><font color="white">Ukoliko želite da potpišete peticiju unesite vaše podatke:</font></h3>



<br>
<br>


<br>
<form class="site-form" action="{% url 'peticija:detalji' peticij.id %}" method="post">
    {% csrf_token %}
    {{form}}

   <br>
    <br>
    <br>
     <input type="submit" value="Potpisi" >
    <br>

    <hr color=#0e0753>
    <hr color=#0e0753>


</form>
</body>
</html>