<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peticija detaljno</title>
</head>
<body>
<h2 align="center">{{peticij.naziv}}</h2>
<br>
<hr>

<p align="center"> {{peticij.text_peticije}}</p>

<br>
<br>
<p align="right">Broj skupljenih potpisa:{{peticij.broj_potpisa}}</p>
<br>
<br>

<form class="site-form" action="{% url 'peticija:detalji' peticij.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Potpisi">



</form>
</body>
</html>